.carousel-item img {
    width: 100%;
    height: 580px;
    object-fit: cover;
}
.col img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

i {
    display: block;
    width: 48px;
    text-align: center;
}